.answers {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 93%;
  min-height: 300px;
  margin-inline: auto;
  overflow-y: auto;
  padding-bottom: 10px;
}

.question {
  position: relative;
  text-align: center;
  border-radius: 15px;

  .question-title {
    font-size: 1rem;
    font-weight: inherit;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.question-text {
  max-width: 140px;
  top: 36.2%;
  font-size: 20px;
  line-height: 100%;
  left: 25px;
  color: var(--dark);
  position: absolute;
}
