.main {
  padding-inline: 10px;
  background-color: var(--darkest-grey);
  border-radius: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-y: auto;
}

#title {
  font-size: 1.375rem;
  font-weight: inherit;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

#text {
  font-size: 13px;
  text-align: center;
  max-width: 200px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.slider-container {
  text-align: center;
  max-width: 500px;
  padding-block: 20px;
  padding-inline: 10px;
  overflow: hidden;
  position: relative;
  background-color: var(--darkest-grey);
  border-radius: 15px;
}

.slider-block {
  display: flex;
  align-items: center;
  min-width: 100%;
  gap: 10px;
  transition: transform 0.3s ease-in-out;
}

.slider-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 97%;
  box-sizing: border-box;

  & img {
    max-width: 210px;
  }
}

.tabs {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.tab {
  width: 40px;
  height: 7px;
  margin: 0 5px;
  background-color: lightgray;
  border-radius: 10px;
  cursor: pointer;
}

.tab.active {
  background-color: var(--orange);
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

#skip {
  font-weight: inherit;
  border-radius: 10px;
  padding-block: 10px;
  padding-inline: 3.6%;
  border: 1px solid var(--orange);
}

#next {
  font-weight: inherit;
  background-color: var(--orange);
  padding-inline: 15%;
  padding-block: 10px;
  border: 0.5px solid white;
  border-radius: 10px;
  cursor: pointer;
}
