.header:not(:last-child) {
  margin-bottom: 20px;
}

.main {
  height: 60vh;
}

.network-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 20px;
  min-height: 100%;
  background-color: var(--dark-grey);
  border-radius: 10px;
  overflow-y: auto;
}

.popup-subscribe {
  text-align: center;
  height: 300px;
  gap: 0px;
}

.label {
  font-weight: inherit;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.text {
  font-size: 13px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.btn-actions {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.btn-subscribe {
  padding-block: 10px;
  width: 100%;
  border-radius: 10px;
}

.btn-check-subscribe {
  cursor: pointer;
  text-align: center;
  padding-block: 10px;
  width: 100%;
  border-radius: 10px;
  font-weight: inherit;
}

.list-item.joined {
  background-color: green;
}
