.container_none {
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 10px;
  padding-bottom: 20px;
}

.header {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: #3e3e45;
  padding: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.btn-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  min-width: 50px;
  height: 50px;
  background: linear-gradient(45deg, #ff7621, #ce2014);
  border-radius: 15px;
  cursor: pointer;

  & span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: white;
  }
}

.user-info {
  display: flex;
  align-items: center;
  padding: 15px 17px;
  gap: 10px;
  justify-content: space-between;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 1px solid orange;
  background: linear-gradient(180deg, rgba(255, 118, 33, 0) 0%, rgba(255, 118, 33, 0.5) 80.32%, #ff7621 100%);

  & img {
    max-width: 40px;
  }

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.progress {
  text-align: center;
}

.progress-bar {
  width: 100%;
  max-height: 21px;
  border-radius: 15px;
  background-color: white;

  & img {
    border-radius: 10px;
    max-width: 80%;
    max-height: 20px;
  }
}

.btn-settings {
  cursor: pointer;
}

.list-page {
  display: flex;
  border-radius: 10px;
  padding-inline: 20px;
  padding-block: 10px;
  flex-direction: column;
  gap: 10px;
  justify-content: space-evenly;
  background-color: var(--dark-grey);
  min-height: 100%;
  padding-bottom: 10px;
  overflow-y: auto;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.user-balance {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.coins {
  padding: 10px;
  background-color: var(--orange);
  border-radius: 15px;
}

:is(.ton, .stars, .coins) {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;

  & span {
    font-size: 20px;
  }

  & img {
    max-width: 40px;
  }
}

.balance_margin:not(:last-child) {
  margin-bottom: 30px;
}

.games {
  width: 300px;
}

.leaderboard img {
  margin-left: auto;
  max-width: 190px;
}

.wheel img {
  margin-left: auto;
}

:is(.leaderboard, .wheel) {
  width: 100%;
  max-width: 288px;
}

:is(.friends-and-learn, .missions-and-stats) {
  display: flex;
  column-gap: 8px;
}

:is(.stats, .missions, .leaderboard, .wheel, .learn, .friends) {
  background-color: var(--darkest-grey);
  border-radius: 25px;

  & img {
    max-width: 140px;
  }
}

:is(.games, .friends-and-learn, .leaderboard, .missions-and-stats) {
  &:not(:last-child) {
    margin-bottom: 35px;
  }
}

:is(.leaderboard, .friends, .learn, .wheel, .stats, .missions, .games) {
  cursor: pointer;
  position: relative;

  & p {
    position: absolute;
    font-size: 22px;
    left: 20px;
    bottom: 5px;
  }
}
